
.advanced-menu {
    background-color: #EEE;
    .item--level-0{
        .menu--list-item-link{
            .pictogram{
                float: left;
                display: inline-block;
                width: 32px;
                height: 32px;
                .unitize-margin(-3, 10, 0, 0);
            }
        }
    }
    .clearfix();
    .menu--teaser {
        padding: 0;
    }
    .content--wrapper{
        margin: 0;
    }
}
