
.advanced-menu {
    .item--level-0{
        .menu--list-item-link{
            img.pictogram{
                float: left;
                .unitize-margin(-3, 10, 0, 0);
            }
        }
    }
    .clearfix();
    .menu--teaser {
        padding: 0;
    }
    .content--wrapper{
        margin: 0;
    }
}
