.clear{
    clear: both;
}
.float--left{
    float: left;
}
.float--right{
    float: right;
}

.header-main{
    .top-bar{
        .container{
            .top-bar--navigation{
                .top-bar--login{
                    background-color: @theme-bg-light;
                    z-index: 3001;
                }
                #top-bar--stores{
                    .js--fancy-select{
                        color: @brand-primary;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: @tabletViewportWidth) {
    // 768px
    .header-main {
        .top-bar {
            .container {
                .top-bar--navigation {
                    .top-bar--login {
                        width: 100%;
                        left: 0;
                        .unitize(margin-top, -2);
                        border-width: 1px;
                        border-color: @brand-primary;
                        border-style: solid;
                        .border-radius-multi(0, 0, 2px, 2px);
                        -webkit-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25);
                        -moz-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25);
                        box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25);
                    }
                }
            }
        }
    }
}
