
@media screen and (min-width: @tabletViewportWidth) {
    .product--box {
        .box--content {
            .product--info {
                .product--price-info {
                    .product--price {
                        .price--default{
                            color: @theme-primary;
                            .unitize(font-size, 28);
                            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 0 0 5px rgba(0,0,0,0.5);
                            font-weight: bold;
                            sup{
                                font-size: 50%;
                                top: -0.90em;
                                left: .2em;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
