.js--modal .content{
    padding: 0px 10px;
}
.js--modal .content .image-slider--container{
    height: auto;
}

.product--details {
    .product--header {
        .unitize-padding(30, 0, 0, 0);
        .product--info{
            .product--title{
                font-weight: bold;
            }
        }
    }
    .tab--navigation{
        border: none;
    }
    .tab-menu--product {
        .tab--navigation {
            .tab--link {
                border: 1px solid @panel-border;
                border-bottom: none;
            }
        }
        .tab--container-list{
        }
    }
    .tab-menu--cross-selling{
        .unitize-margin(0, 0, 10, 0);
        .tab--container{
            border: 1px solid @panel-border !important;
        }
    }
    .content--description{
        .resaon{
            clear: both;
            .unitize-margin(0, 0, 20, 0);
            .img{
                float: left;
                max-width: 200px;
                .unitize-margin(0, 20, 20, 0);
            }
            .text{ display: block; }
        }
    }
    .product--detail-upper {
        .product--buybox {
            .same-day-delivery {
                .unitize(line-height, 18);
                img{
                    float: left;
                    width: 36px;
                    height: 36px;
                    .unitize-padding(4, 4);
                    .unitize-margin(0, 10, 0, 0);
                    color: #fff;
                    background: #fff;
                    border-radius: 50%;
                }
                h3{
                    margin: 0;
                    .unitize(line-height, 36);
                }
                small{
                    display: inline-block;
                    .unitize(line-height, 12);
                }
                input{
                    height: auto !important;
                    .unitize(line-height, 32);
                }
            }
            .buybox--inner {
                .buybox--button-container{
                    .buybox--quantity{
                        width: 30%;
                        margin: 0;
                        float: left;
                        display: inline-block;
                        .js--fancy-select{
                            .unitize(margin-bottom, -7);
                        }
                    }
                    .note--button{
                        width: 25%;
                        float: right;
                    }
                    .buybox--button{
                        width: 70%;
                    }
                }
                .product--price(36); // _mixins/price.less
                .product--price{
                    .content--discount{
                        .price--line-through{
                            .unitize(font-size, 16);
                            .unitize(line-height, 16);
                        }
                    }
                }
            }
            .product--delivery{
                .unitize(font-size, 12);
                .unitize(line-height, 20);
                margin-bottom: 0;
                .delivery--information{
                    .entry--label{
                        width: 42%;
                        display: inline-block;
                        text-align: right;
                        margin: 0 .5em 0 0;
                    }
                }
            }

            .price--discount-icon, .content--discount .price--discount-percentage{
                display: none;
            }
        }
    }
    .product--properties{
        width: 100%;
        .unitize-padding(30,30,30,30);
        .product--properties-table{

        }
    }
}

.base-info--entry{
    margin: 0;
}


@media screen and (min-width: @tabletViewportWidth) {
    // 768px
    .product--details {
        .tab--container{
            //border: 1px solid @panel-border !important;
        }
        .product--actions{
            border: none;
        }
        .product--header {
            .product--info{
                .product--title{
                    width: 86%;
                }
            }
        }
        .product--buybox {
            .buybox--inner {
                .product--price {
                    margin-bottom: 0 !important;
                }
                .product--tax {
                    margin-bottom: 0 !important;
                }
                .product--delivery {
                    .unitize(margin-bottom, 30);
                }
            }
        }
    }
}
