.product--details {
    .product--header{
        .unitize-padding(30, 0, 0, 0);
    }
    .product--detail-upper {
        .product--buybox {
            .buybox--inner {
                .product--price {
                    .price--content {
                        .nice-price(47, 60);
                    }
                }
                .base-info--entry{
                    .unitize(font-size, 12);
                    .unitize(line-height, 14);
                    .unitize-padding(10, 0);
                    border: 1px solid @border-color;
                    border-left: none;
                    border-right: none;

                    .entry--label{
                        width: 110px;
                        display: inline-block;
                        text-align: right;
                        margin: 0 .5em 0 0;
                    }
                }
            }
        }
    }
}
