
@media screen and (min-width: @desktopViewportWidth) {
    .col-xl-8{
        .emotion--product{
            .product--box.box--emotion{
                .liveshopping--listing{
                    .product--badges {
                        left: auto;
                        right: -1px;
                        .product-badge{
                            border-top-left-radius: 3px;
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                            border-bottom-left-radius: 3px;
                        }
                        .badge--discount{
                            background: @theme-primary;
                        }
                    }
                }
            }
        }
    }
}
