.emotion-heading-big{
    .emotion--html{
        background: @theme-secondary;
        h1, h2, h3, h4, h5, h6{
            font-family: "Oswald", "Open Sans", "sans-serif";
            text-align: center;
            text-transform: uppercase;
            color: @theme-primary;
        }
        h1{
            .unitize(font-size, 25);
        }
        h2{
            .unitize(font-size, 20);
        }
        h3{
            .unitize(font-size, 15);
        }
        h4, h5, h6{
            .unitize(font-size, 10);
        }
    }
}

.emotion--product {
    .product--box {
        .product--image{
            height: 60%;
        }
        .product--details{
            max-height: 35%;
        }
    }
}
.emotion--product{
    .product--box.box--basic {
        height: auto;
    }
}

.product-slider--item{
    .unitize-padding(0,10,0,10);
}

@media screen and (min-width: @desktopViewportWidth) {
    .emotion-heading-big{
        .emotion--html{
            h1{
                .unitize(font-size, 40);
            }
            h2{
                .unitize(font-size, 35);
            }
            h3{
                .unitize(font-size, 30);
            }
            h4, h5, h6{
                .unitize(font-size, 25);
            }
        }
    }
    .content--home{
        .content--emotions{
            border-left: 1px solid @border-color;
            border-right: 1px solid @border-color;
            .emotion--wrapper{
                margin-left: -1px;
                margin-right: -1px;
            }
        }
    }
    .col-xl-6{
        .emotion--product{
            .product--box.box--emotion{
                .product--info{
                    position: relative;
                    overflow: visible;
                    .product--title{
                        position: absolute;
                        bottom: 0;
                        .unitize(font-size, 20);
                        text-align: center;
                    }
                }
                .liveshopping--listing{
                    .product--image{
                        height: 80%;
                        max-width: 90%;
                        img{
                            margin: 0;
                            top: 35px;
                            left: 20px;
                        }
                    }
                    .product--details{
                        position: static;
                        .product--title{
                            font-weight: bold;
                        }
                    }
                    .product--badges {
                        left: auto;
                        right: -1px;
                        top: 20px;
                        .product--badge{
                            .unitize(font-size, 36);
                            border-top-left-radius: 3px;
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                            border-bottom-left-radius: 3px;
                            .unitize-padding(10,60,10,15);
                        }
                        .badge--liveshopping {
                            .counter--text{
                                .unitize(font-size, 24);
                            }
                        }
                        .badge--discount{
                            background: @theme-primary;
                        }
                    }
                    .liveshopping--container{
                        .unitize-padding(5,40,2,5);
                        overflow: visible;
                        height: auto;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        position: absolute;
                        right: -10px;
                        top: 200px;
                        z-index: 9999;
                        .liveshopping--price{
                            .unitize(font-size, 32);
                        }
                        .liveshopping--pseudoprice{
                            position: absolute;
                            color: @theme-text-dark;
                            top: -2em;
                            right: 40px;
                            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                            .unitize(font-size, 15);
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
.emotion--product {
    .product--box {
        .product--details{
            bottom: 10px;
        }
    }
}
