.clear{
    clear: both;
}
.float--left{
    float: left;
}
.float--right{
    float: right;
}

.header-main{
    .top-bar{
        .container{
            .top-bar--navigation{
                .top-bar--login{
                    z-index: 3001;
                    background-color: #FFFFFF;
                    color: @theme-text-dark;
                    .register--login-description{
                        .unitize(font-size, 12);
                        text-transform: uppercase;
                        color: @theme-primary;
                        font-weight: bold;
                    }
                    .register--login-email, .register--login-password{
                        width: 50%;
                        float: left;
                        input.register--login-field{
                            width: 100%;
                            box-shadow: none;
                            border-bottom: 1px solid @panel-border;
                        }
                    }
                    .register--login-email{
                        input.register--login-field{
                            .unitize-padding(0,5,0,0);
                        }
                    }
                    .register--login-password{
                        input.register--login-field{
                            .unitize-padding(0,0,0,5);
                        }
                    }
                    .register--login-lostpassword a{
                        color: @theme-text-dark;
                    }
                    .register--login-action button{
                        font-weight: bold;
                    }
                }
                #top-bar--stores{
                    .js--fancy-select{
                        color: @theme-primary;
                    }
                }
                .navigation--entry.entry--service{
                    width: 100%;
                    color: @theme-primary;
                    .service--list{
                        top: 5px;
                        .unitize-padding(5,5,5,5);
                        width: 100%;
                        max-height: 200px;
                        overflow-y: auto;
                    }
                }
            }
        }
    }
    .container.header--navigation {
        .shop--navigation {
            .navigation--list {
                .navigation--entry.entry--search {
                    .main-search--results {
                        .results--list {
                            .list--entry {
                                .search-result--link {
                                    .entry--price{
                                        .product--price(18, 0, 0, 0, 0); // _mixins/price.less

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: @tabletViewportWidth) {
    // 768px
    .header-main {
        .top-bar {
            .container {
                .top-bar--navigation {
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    .top-bar--login {
                        .unitize(font-size, 10);
                        width: 100%;
                        left: 0;
                        .unitize(margin-top, -2);
                        border-width: 1px;
                        border-color: @brand-primary;
                        border-style: solid;
                        .border-radius-multi(0, 0, 2px, 2px);
                        -webkit-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25);
                        -moz-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25);
                        box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25);
                    }
                }
            }
        }
        .container.header--navigation {
            .shop--navigation {
                .navigation--list {
                    .navigation--entry.entry--search {
                        .main-search--results {
                            .results--list{
                                background-color: #FFFFFF;
                                .list--entry {
                                    .search-result--link {
                                        .entry--name{
                                            color: @theme-text-dark;
                                        }
                                    }
                                    &:hover{
                                        background: #f0f0f0;
                                        color: @theme-primary;
                                    }
                                }
                                &::after{
                                    background: #FFF;
                                    border-color: #FFF;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .service--list {
        .unitize-min-width(150);
        .unitize-padding(5, 0);
        .unitize(top, 32);
        .unitize(right, 12);
        text-align: left;
        position: absolute;
        display: none;
        list-style: none;
        background: #fff;
        z-index: @zindex-header-service-list;
        border: 1px solid @border-color;

        &::after {
            .rotate(135deg);
            .unitize-width(8);
            .unitize-height(8);
            .unitize(-5, 16, top);
            .unitize(right, 18);
            content: '';
            display: block;
            position: absolute;
            background: #fff;
            border-color: @border-color;
            border-width: 0 0 1px 1px;
            border-style: solid;
        }

        .service--link {
            .unitize-padding(5, 10);
            display: block;
            color: @text-color;
        }
        .service--link:hover {
            color: @brand-primary;
        }
    }

    .js--is--dropdown-active .service--list {
        display: block;
    }
}
