
@media screen and (min-width: @tabletViewportWidth) {

    .sidebar-main {
		.is--ctl-pckonfigurator & {
            display: none;
			& + .content--wrapper {
                margin: 0;
			}
		}
        .sidebar--categories-wrapper {
            .categories--headline{
                font-family: "Oswald", "Open Sans", sans-serif;
                .unitize(font-size, 14) !important;
                font-weight: normal !important;
                color: @theme-primary;
            }
            .sidebar--categories-navigation {
                .sidebar--navigation {
                    font-family: "Oswald", "Open Sans", sans-serif;
                    text-transform: none;
                    // ul
                    .navigation--entry {
                        // li
                        .navigation--link {
                            // a
                            text-transform: none;
                            &.is--active{
                                font-weight: normal;
                            }
                            &:hover{
                                color: @theme-primary;
                            }
                        }
                    }
                    .is--level1{
                        .navigation--link{
                            &.is--active{
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sidebar-main.off-canvas{
    background: #FFF;
}
